<h1>
  <a id="prevYear" href="#">&lsaquo;</a>
  {{currYear}}
  <a id="nextYear" href="#">&rsaquo;</a>
</h1>
<div class='months'>

  {{#each months}}

    <div class="month">
      <h2 class='name'>{{this.currMonthFull}}</h2>

      <div class='day-names'>
        {{#each ../daysOfWeek}}
          <div class='day-name {{this}}'>{{this}}</div>
        {{/each}}
      </div>

      <div class="days">
        {{#each dates}}
          <div class='day {{dayOfWeek}} in-month-{{inMonth}}'>{{date}}</div>
        {{/each}}
      </div>

    </div>

  {{/each}}

</div>