<div class="lesson_summary">

  <a href="/lessons/<%= lesson_summary.slug %>">

    <div class='img-container img-<%= defined?(size) ? size : :thumb %>' style='background-image: url("<%= lesson_summary.display_image_url(defined?(size) ? size : :thumb) %>")'>
      <div class="overlay <%= defined?(color) ? color : random_color %>">
        <span class="name"><%= lesson_summary.name %></span>
        <div class="lesson-materials">
          <span>Materials:</span> <%= raw lesson_summary.materials %>
        </div>
      </div>
    </div>

  </a>

</div>