<p><b>Name:</b> <%= lesson.name %></p>
<p><b>Est Duration:</b> <%= lesson.est_duration %></p>
<p><b>Suggested Age Display:</b> <%= lesson.suggested_age_display %></p>
<p><b>Suggested Age Min:</b> <%= lesson.suggested_age_min %></p>
<p><b>Suggested Age Max:</b> <%= lesson.suggested_age_max %></p>
<p><b>Prep Time:</b> <%= lesson.prep_time %></p>
<p><b>Lesson Focus:</b> <%= lesson.lesson_focus %></p>
<p><b>Location:</b> <%= lesson.location %></p>
<p><b>Num Children:</b> <%= lesson.num_children %></p>
<p><b>Objective:</b> <%= lesson.objective.html_safe %></p>
<p><b>Milestone:</b> <%= lesson.milestone.html_safe %></p>
<p><b>Materials:</b> <%= lesson.materials.html_safe %></p>